#node-edit .field-type-taxonomy-term-reference label,
#node-edit .field-type-entityreference label,
#node-edit .field-type-country label,
#node-edit .field-type-list-integer label{
    display: none;
}

#node-edit #edit-field-featured-image-und-0-title {
  display:none;
}

.node-type-panopoly-page .pane-node-form-publishing,
.node-type-oe-blog-post .pane-node-form-menu,
.node-type-oe-event .pane-node-form-menu {
  display:none;
}

.field-multiple-table .text-full {
  width:99%;
}
